[Unit]
Description=Pin query app
After=lipstick.target
Requires=dbus.socket lipstick.service

[Service]
Type=simple
Environment="QT_QPA_PLATFORM=wayland"
ExecStart=/usr/bin/glacier-pinquery
Restart=always
RestartSec=10

[Install]
WantedBy=graphical-session.target

