[Unit]
Description=Pin query app
After=graphical-session-pre.target
Requires=dbus.socket graphical-session-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/glacier-pinquery

